* {
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}

body {
    
    background-color: white;    background-size: cover;
}

main {
    padding: 40px;
}

nav {
    display: flex;
    padding: 8px;
    justify-content: end;
    background-image: linear-gradient(to right, #2ad1f8, #8a58b9);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav h2:hover {
    cursor: pointer;
    color:  #2ad1f8;
    transition: all 0.5s;
}

h2 {
    color: #ffffff;
    font-size: 25px;
    /* margin: 15px 15px; */
    padding: 10px;
    font-family: Roboto;
    width: 150px;
    text-align: center;
    
}

.foto {
    width: 40%;
    text-align: center;
}

.eu {
    border-radius: 100%;
    margin: 10px;
    width: 400px;
}

.desc {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.desc h3 {
    font-size: 40px;
    text-align: center;
    margin: 0px;
    font-family: Roboto;
}

.desc p {
    font-size: 28px;
    text-align: center;
    margin: 10px;
    font-family: Roboto;
}

.fotodesc {
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2%;
    padding: 8px;
    justify-content: center;
    height: 600px;
}

footer {
    display: flex;
    /* background-color: #ffffff; */
    padding: 8px;
    justify-content: center;
    /* border-radius: 10px; */
    height: 50px;
    margin-top: 10px;
    background-image: linear-gradient(to right, #2ad1f8, #8a58b9);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.fa {
    font-size: 30px;
    margin: 10px;
    color: #ffffff;
}

.fa:hover {
    color:  #2ad1f8;
    transition: all 0.5s;
}

hr {
    background-image: linear-gradient(to right, #2ad1f8, #8a58b9);
    margin: 60px 0;
    height: 3px;
}

.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
}

.about-title {
    background-image: linear-gradient(to right, #2ad1f8, #8a58b9);
    font-size: 50px;
    color: white;
    font-family: Roboto;
    width: 30%;
    border-radius: 10px;
    padding: 200px 50px;
    text-align: center;
}

.about div p {
    font-family: Roboto;
    font-size: 25px;
}

.about div {
    width: 40%;
}

.projetos hr {
    background-image: linear-gradient(to right, #2ad1f8, #8a58b9);
    margin: 60px 0;
    height: 1px;
}

.projeto {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 500px;
}

.projetos-img {
    width: 600px;
    border: 2px solid #2ad1f8;
}

.projetos-text {
    width: 40%;
    font-family: Roboto;
    font-size: 25px;
    text-align: center;
    margin: 10px;
}

.projetos-text h5{
margin-bottom: 20px;
font-size: 36px;
}

button {
    margin: 20px;
    font-size: 25px;
    border: 0px;
    background: none;
    border: 2px solid #8a58b9;
    border-radius: 6px;
    padding: 20px;
    width: 40%;
  }
  
  button:hover {
    background-image: linear-gradient(to right, #2ad1f8, #8a58b9);
    color: white;
    cursor: pointer;
    border: white;
    transition: all 0.5s;
  }
  